/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */
html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  height: 100vh;
  background: var(--background-content);
  color: var(--qwik-dark-text);
  overflow-x: hidden;
  display: flex;
  justify-content: center;

}


#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width-content);
}

.layout_init {
  display: grid;
  grid-template-columns: 250px auto;
  width: 100%;
  height: 100vh;
}

.layout_init aside {
  width: 250px;
  margin-right: 20px;
}

.layout_init .slot {
  max-width: 800px;
  padding: 90px 30px;
}