select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--background-content);
  cursor: pointer;
}

/* Estilos para las opciones del select */
select option {
  padding: 5px;
}