nav {
    width: 250px;
    height: 80vh;
    background-color: var(--bg-color-pr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 50px 0;
    flex-direction: column;
    border-right: 1px solid var(--border-v1);
    position: fixed;
    top: 100px;
    overflow: auto;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-pr);
    transition: all 0.3s ease;
    display: flex;
    gap: 5px;
    padding: 10px 0;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
}

nav ul li a svg {
    width: 50px;

}

nav ul li a:hover {
    width: 100%;
    
    color: var(--color-green);
}

.select_teme {
    color: var(--text-color-pr);
}