nav {
    background-color: var(--background-content);
    width: 100%;
    max-width: var(--max-width-content);
    height: 90px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-v1);
    position: fixed;

}

nav .logo {
    color: var(--text-color-pr);
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-pr);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

a {
    color: var(--text-color-pr);
}

nav ul li a:hover {
    width: 100%;
    transform: scale(.9);
}

nav ul li .active {
    color: #009688;
    font-weight: 600;
}