/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/* Custom variables for themes */
[data-theme="DARK_THEME"] {
  --color-green: #05a998;


  --background-content: #070a0c;
  --background-clear: #0e1418;
  --background-footer: #020e08;
  --text-color-pr: #f3f5f7;

  --color-action-v1: #f3f5f7;
  --color-action-arrow: #05a998;


  --border-v1: #9f9f9f74;
  --border-v2: #e0e0e080;
  --border-v3: #e0e0e080;
}

/* 212a3e */
[data-theme="LIGHT_THEME"] {
  --color-green: #009688;

  --background-content: #fff;
  --background-clear: #f3f5f7;
  --background-footer: #bcbbbb;

  --color-action-v1: #1f2937;
  --color-action-arrow: #394e6a;


  --text-color-pr: #191919;

  --border-v1: #e5e5e5;
  --border-v2: #e5e5e5;
  --border-v3: #d5dbdb;

}

:root {

  --max-width-content: 1350px;
}


html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}